asgiref==3.8.1
astroid==2.15.6
autopep8==1.5.5
beautifulsoup4==4.12.3
colorama==0.4.6
dill==0.3.7
Django==5.0.6
django-appconf==1.0.6
django-bootstrap5==24.2
django-libsass==0.9
django-sass-processor==1.4.1
django_compressor==4.5
flake8==3.8.4
importlib-metadata==6.8.0
isort==5.12.0
jedi==0.17.2
lazy-object-proxy==1.9.0
libsass==0.23.0
mccabe==0.6.1
packaging==23.1
parso==0.7.1
platformdirs==3.10.0
pluggy==1.2.0
pycodestyle==2.6.0
pydocstyle==6.3.0
pyflakes==2.2.0
pylint==2.17.5
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytoolconfig==1.2.5
rcssmin==1.1.2
rjsmin==1.2.2
rope==1.9.0
shiboken6==6.5.2
snowballstemmer==2.2.0
soupsieve==2.5
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tzdata==2024.1
ujson==5.8.0
vboxapi==1.0
wrapt==1.15.0
yapf==0.40.1
zipp==3.16.2
