{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Axion Wood{% endblock %}</title>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static '/js/color-modes.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>   
    
    <script>let errorElements = document.getElementsByClassName('alert-error'); [...errorElements].forEach(el=>{el.classList.add('alert-danger')})</script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body class="d-flex flex-column">
    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Axiom Wood</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!--- Main nav -->
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Главная</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'gallery' %}">Галерея работ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'order' %}">Оформить заказ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'about' %}">О нас</a>
                        </li>

                    </ul>

                    

                    <!--- Auth nav -->
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="nav-item" aria-current="page"><button class="btn btn-outline" type="button">Личный кабинет</button></a>
                        <a href="{% url 'logout' %}" class="nav-item" aria-current="page"><button class="btn btn-outline" type="button">Выйти</button></a>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-item" aria-current="page"><button class="btn btn-outline" type="button">Войти в аккаунт</button></a>
                        <a href="{% url 'signup' %}" aria-current="item"><button class="btn btn-outline" type="button">Зарегистрироваться</button></a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        {% block extracontent %}        
        {% endblock %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <div class="container">
        <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Axiom Wood</p>
        
            <a href="{% url 'home' %}" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
        
            <ul class="nav col-md-4 justify-content-end small">
                <li class="nav-item"><a href="{% url 'policy' %}" class="nav-link px-2 text-body-secondary">Политика конфиденциальности</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Условия сотрудничества</a></li> -->
            </ul>
        </footer>
    </div>
    

    {% block externals %}
    {% endblock %}
</body>
</html>
