{% extends './base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <h1>FAQ</h1>
    <ul>
        {% for faq in faqs %}
            <li>{{ faq.question }}: {{ faq.answer }}</li>
        {% endfor %}
    </ul>
    <h2>Обратная связь</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.text.label_tag }}<br>
        {{ form.text }}<br>
        {{ form.rate.label_tag }}<br>
        <div class="rating">
            {% for choice in form.rate %}
                {{ choice.tag }}
                <label for="{{ choice.id_for_label }}">&#9733;</label>
            {% endfor %}
        </div>
        <button type="submit">Отправить</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const stars = document.querySelectorAll('.rating input');
            stars.forEach(star => {
                star.addEventListener('change', () => {
                    const checkedStars = document.querySelectorAll('.rating input:checked');
                    checkedStars.forEach(checkedStar => {
                        const labels = checkedStar.closest('.rating').querySelectorAll('label');
                        labels.forEach(label => label.style.color = '#ddd');
                        for (let i = 0; i < checkedStar.value; i++) {
                            labels[i].style.color = '#f5b301';
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}
