{% extends './base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <h2>Личный кабинет</h2>
    <h2>Заказы</h2>
    <div>
        {% for item in orders %}
            <div>
                {{item.order.registration_date}}: {{ item.order.description }} -> {{ item.order.get_status_display }}
                <ol>
                {% for product in item.products %}
                    <li><div>{{ product.product.get_material_display }}, {{ product.product.get_use_type_display }} - {{ product.product.price }}</div></li>
                {% endfor %}
                </ol>
            </div>
        {% endfor %}
    </div>
    <h2>Обновить данные профиля</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Обновить</button>
    </form>
{% endblock %}
