* {
  box-sizing:border-box;
}
.accordion dl,
.accordion-list {
   border:1px solid #212529;
   &:after {
       content: "";
       display:block;
       height:0.5em;
       width:100%;
       background-color:darken(#D3D3D3, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#212529;
   font-size:1em;
   line-height:1.5em;
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;
    background-color:#212529;
}

.accordionTitle,
.accordion__Heading {
 background-color:#D3D3D3; 
   text-align:center;
     font-weight:700; 
          padding:2em;
          display:block;
          text-decoration:none;
          color:#212529;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#D3D3D3, 5%);
  &:before {
   content: "+";
   font-size:1.5em;
   line-height:0.5em;
   float:left; 
   transition: transform 0.3s ease-in-out;
  }
  &:hover {
    background-color:darken(#D3D3D3, 10%);
  }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:darken(#D3D3D3, 10%);
    &:before {
     
      transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    
    max-height:1000em;
    transition:max-height 15s;   
 
    
    @media screen and (min-width:48em) {
        max-height:500em;
        transition:max-height 7.5s  
    }  
}

/* .accordionContent {
    height: auto !important;
    max-height: 100em !important;
} */
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
} */
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #6520ff
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step .icon {
    background: #ddd;
    color: #191a1f
}

.track .step.active .icon {
    background: #6520ff;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
}

.track .text {
    display: block;
    margin-top: 7px
}

.custom-btn {
    --bs-btn-color: #dee2e6;
    --bs-btn-bg: #6520ff;
    --bs-btn-border-color: #6520ff;
    --bs-btn-hover-color: #dee2e6b3;
    --bs-btn-hover-bg: #6720ffae;
    --bs-btn-hover-border-color: #6520ff;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #dee2e6;
    --bs-btn-active-bg: #6520ff;
    --bs-btn-active-border-color: #6520ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dee2e6;
    --bs-btn-disabled-bg: #6720ffbd;
    --bs-btn-disabled-border-color: #6720ffbd;
  }

.action-button {
    visibility: hidden !important;
    padding: 0 !important;
    border: none !important;
    background: none !important;
    color: #dee2e6 !important;
}

.card-body .row:hover .action-button {
    visibility: visible !important;
}
.action-button:hover {
    color: #dee2e6aa !important;
}
